
  
/* Photo by <a href="https://unsplash.com/@mosiknife?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">mosi knife</a> on <a href="https://unsplash.com/photos/white-and-blue-cloud-formation--PVgDgKXgZA?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  day time photo credits */
  
  :root {
    --light: rgba(135, 206, 250, 0.475);
    --dark:  rgba(3, 3, 164, 0.064);
  
  }

body{
  background-image: url(./assets/mosi-knife--PVgDgKXgZA-unsplash.jpg);
}


  h1{
    border: 5px solid darkblue;
    margin: 20px auto 70px auto;  
    padding: 10px 50px;
    max-width: fit-content;
    border-radius: 15px;
    align-items: center;
    background-color: var(--light);
  }

 h2{
    margin-top: 5%;
    margin-left:5%;
 }

li{
  margin: 5px;
}

.search-form{
  margin-left: 10px;;
}

.dashboard{
font-weight:bolder;
}


.spotlight{
  text-align: center;
  font-weight:bold;
  min-width: 700px;
}

.card{
  background-color: var(--light); 
}

.small{
  margin-right: 10px;
}

.search{
  margin-left: 10px;
}

.search-history button{
  display:block;
  margin: 10px;
  background-color: var(--dark);
  font-weight:bold;
}

h5 {
  font-size: 16px;;
}

